[project]
	description = Sample application from the Ruby on Rails Tutorial
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Belru
[access "refs/for/refs/*"]
	read = group user/Belru
	push = group user/Belru
	label-Code-Review = -2..+2 group user/Belru
	label-Verified = -1..+1 group user/Belru
	rebase = group user/Belru
	removeReviewer = group user/Belru
	submit = group user/Belru
[access "refs/heads/*"]
	read = group user/Belru
	create = group user/Belru
	push = +force group user/Belru
	pushMerge = group user/Belru
[access "refs/tags/*"]
	push = group user/Belru
	push = +force group user/Belru
